body{
  display: flexbox;
  flex-direction: column;
  align-self: center;
  align-content: center;
  font-family: sans-serif;
  align-items: baseline;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

#card{
  width: 35%;
  height: 25%;
  border: solid 1px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
