body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  align-self: center;  
  align-items: center;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: baseline;
  margin: auto;
}

img{
  position: absolute;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  max-height: 1280px;
  opacity: 100%;
}

#card{
  display: flexbox;
  flex-direction: column;
  position: relative;
  margin: auto;
}

#rec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

label{
  padding: 5px;
}
input{
  margin: 1px;
}
.divButtons{
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  align-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
}

.labels{
  font-size: 4rem;
  color: white;
  margin: 0;
}

p{
  background-color: rgba(69, 0, 158, 0.63);
  border-radius: 10px;
  padding: 0.3rem;
}