body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: baseline;
  margin: auto;
  align-self: center;  
  align-items: center;
}
section{
  align-items: baseline;
  margin: auto;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card{
  display: flex;
  width: 25rem;
  height: 9.5rem;
  border: solid 1px black;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
}

form{
  margin-top: 1rem;
}
